// Mobile
@import 'css3.less';

// General
body, p, h1, h2, h3, h4, header, aside, ul, li { margin:0; padding:0;  }
.clear { clear:both; }
p { }
h1 { font: 17px/17px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif; color:#fff; text-shadow: 0 0 0; }
h2 { font: 10px/11px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif; color:#fff; text-shadow: 0 0 0; }
h3 { font: 18px/18px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif; color:#fff; text-shadow: 0 0 0; }
h4 { }

// Layout
/* Layout */
header.global-header {
  background: url(../images/header_m.jpg) no-repeat;
  height: 125px;
}
.gate-keeper {
  .gradient (#bdd758, #8fc854);
  min-height: 480px;
  text-align: center;
  margin-top:-4px;
  .age-gate { width:250px; margin:0 auto; padding-top:40px; }
  h2 {
    margin-bottom:15px;
  }
  input {
    text-align: center;
    margin-bottom: 5px;
  }
}

.events-link {
  padding: 0px;
  margin: 0px;
  span {
    padding: 0px;
    margin: 0px;
    span {
      padding: 0px;
      margin: 0px;
    }
  }
}



/* Header */
#shareBtn {
  position: absolute;
  top: 5px;
  left: 200px;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font: 10px/18px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif;
  letter-spacing: 1px;
  background-color: #85c513;
  -webkit-box-shadow: 1px 1px 3px #86878b;
  -moz-box-shadow: 1px 1px 3px #86878b;
  -o-box-shadow: 1px 1px 3px #86878b;
  box-shadow: 1px 1px 3px #86878b;
  text-shadow: 0 0 0;
  &:hover {
    background-color: #77b011;
  }
}
#winBtn {
  position: absolute;
  top: 45px;
  left: 200px;
  width: 96px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font: 10px/18px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif;
  letter-spacing: 1px;
  background-color: #848589;
  -webkit-box-shadow: 1px 1px 3px #86878b;
  -moz-box-shadow: 1px 1px 3px #86878b;
  -o-box-shadow: 1px 1px 3px #86878b;
  box-shadow: 1px 1px 3px #86878b;
  text-shadow: 0 0 0;
  &:hover {
    background-color: #75767a;
  }
}



/* Twitter Section */
.twitter-section {
  float: left;
  margin: 0;
  width: 100%;
  header {
    height: 30px;
    background-color: #848589;
    margin-top:-5px;
    aside {
      float: left;
      span.icon {
        display: block;
        float: left;
        height: 17px;
        width: 21px;
        margin:5px 5px 0 5px;
        background: url(../images/twitter_m.png) no-repeat;
      }
      h2 {
        text-align: left;
        letter-spacing: 1px;
        padding-top:7px;
        width: 210px;  
      }
    }
    aside.callout {
      float: right;
      margin-top: 2px;
      span {
        background-color: #646465;
        height: 100%;
        color: #fff;
        padding: 10px 5px;
        letter-spacing: normal;
        font-size: 10px;
        text-shadow: 0 0 0;
      }
    }
  }
  
  
  // Tweets
  li {
    img {
      padding:10px 0 10px 10px;
    }
      a {
        color: #8ec754;
        text-decoration: none;
        &:hover { color: #2B9646;}
        p {
          font: 13px/18px 'Segoe Regular', Arial, "MS Trebuchet", sans-serif; color: #848589;
        }
    }
    p.name {
      margin-top:4px;
      font: 13px/20px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif;
      color: #5C5C5C; 
    }
    &:last-child { border-bottom: none; }
  }
    
}


// Video Section
.ui-icon {
  display: none;
}

.videolist {
  li { padding: 25px 0 0 10px; }
}

.video-section {
  float: left;
  margin: 0;
  width: 100%;
  header {
    height: 30px;
    background-color: #848589;
    margin-top:-5px;
    aside {
      span.icon {
        display: block;
        float: left;
        height: 19px;
        width: 21px;
        margin: 7px 5px 0 5px;
        background: url(../images/video_m.png) no-repeat;
      }
      h2 {
        padding-top: 10px;
        text-align: left;
      }
    } 
  }  
}



/* Photo Section */
.photo-section {
  float: left;
  margin: 0;
  width: 100%;
  min-height: 100px;
  header {
    display: block;
    height: 30px;
    background-color: #848589;
    margin-top:-4px;
    aside {
      float: left;
      span.icon {
        display: block;
        float: left;
        height: 17px;
        width: 21px;
        margin:7px 5px 0 5px;
        background: url(../images/photo_m.png) no-repeat;
      }
      h2 {
        text-align: left;
        letter-spacing: 1px;
        padding-top:10px;
        width: 204px;  
      }
    }
    aside.callout {
      float: right;
      position: relative;
      span {
        a {
          color: #fff !important;
          font-size: 8px;
          font-weight:bold;
          letter-spacing: normal;
          text-decoration: none;
          text-shadow: 0 0 0;
          padding: 11px 15px 8px 5px;
          display: block;
          background-color: #646465;
          &:hover { color: #bdd758; }
          &:active { color: #bdd758; }
        }
        .arrow-up {
          width: 0; 
          height: 0; 
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid white;
          position: absolute; 
          right: 3px;
          top: 11px;
        }
        height: 100%;   
              
      }
    }
  }
  .theme-default .nivo-directionNav a {
    display: block;
    width: 28px;
    height: 49px;
    background: url(../images/controls_m.png) no-repeat left;
    text-indent: -9999px;
    border: 0;
  }
  .theme-default a.nivo-nextNav {
    background-position: right;
    right: 15px;
  }
  .nivo-directionNav a {
    top: 30%;
  }
}


// Events Section
.events-section {
  float: left;
  margin: 0;
  width: 100%;
  header {
    height: 30px;
    background-color: #848589;
    margin-top:-5px;
    aside {
      span.icon {
        display: block;
        float: left;
        height: 24px;
        width: 21px;
        margin: 4px 5px 0 5px;
        background: url(../images/events_m.png) no-repeat;
      }
      h2 {
        padding-top: 10px;
        text-align: left;
      }
    } 
  } 
  ul { margin:0; padding:0; list-style:none; 
    li { 
      font: 13px/19px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif;
      padding: 15px 15px 0 15px;
      text-align: left;
      span { font: 13px/13px 'Segoe Regular', Arial, "MS Trebuchet", sans-serif; color: #848589;}
    }
  }
  .callout { padding: 15px;} 
}



// Footer 
.footer {

  p.copyright {
    font-size: 9px;
    text-align: center;
    padding:3px 0;
  }
}