::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
  background-color: #fff;
  color: #5c5c5c;
  width:810px;
  overflow:hidden;
  font-family: 'Segoe Regular', Arial, "MS Trebuchet", sans-serif;
}
.clear{clear:both;}

/* Type */
body, p, h1, h2, h3, h4 { margin:0; padding:0; }

p { }
h1 { font: 17px/17px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif; color:#fff; }
h2 { font: 18px/18px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif; color:#fff; }
h3 { }
h4 { }

/* Layout */
header {
  background:url(../images/header.jpg) no-repeat;
  height:200px;
}

#container{

}



/* Age Gate */
.age-gate {
  background:url(../images/age_gate_bg.jpg) no-repeat #8fc854;
  min-height: 400px;
  padding-top:80px;
  padding-left:285px;
}
.age-gate input {
  font: 18px/18px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif; color:#848589;
  text-align: center;
  padding:8px;
  margin-right:10px;
  border:1px solid #c2d6ad;
  width:56px;
}
.age-gate #submit {
  display: block;
}









/*#yt-video-list a {
  display:block;
  padding:8px;
  background-color:#ccc;margin:8px;
}
#yt-video-list a img{margin-right:10px;}
.alpha{border:1px solid #ccc; padding:10px}
.beta, .gamma{width:450px;border:1px solid #ccc; padding:10px;margin:10px;float:left;}
.tweet{
  border:1px solid #ccc;
  padding:8px;
  margin:8px;
  width:300px;
}*/