#flexbox .display-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
}
body,
p,
h1,
h2,
h3,
h4,
header,
aside,
ul,
li {
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
h1 {
  font: 17px/17px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif;
  color: #fff;
  text-shadow: 0 0 0;
}
h2 {
  font: 10px/11px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif;
  color: #fff;
  text-shadow: 0 0 0;
}
h3 {
  font: 18px/18px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif;
  color: #fff;
  text-shadow: 0 0 0;
}
.gate-keeper {
  background: #bdd758;
  background: -moz-linear-gradient(top, #bdd758 0%, #8fc854 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bdd758), color-stop(100%, #8fc854));
  background: -webkit-linear-gradient(top, #bdd758 0%, #8fc854 100%);
  background: -o-linear-gradient(top, #bdd758 0%, #8fc854 100%);
  background: -ms-linear-gradient(top, #bdd758 0%, #8fc854 100%);
  background: linear-gradient(top, #bdd758 0%, #8fc854 100%);
  min-height: 260px;
  text-align: center;
}
.gate-keeper h2 {
  margin-bottom: 15px;
}
.gate-keeper input {
  text-align: center;
  margin-bottom: 5px;
}
.events-link {
  padding: 0px;
  margin: 0px;
}
.events-link span {
  padding: 0px;
  margin: 0px;
}
.events-link span span {
  padding: 0px;
  margin: 0px;
}
/* Header */
#shareBtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font: 13px/13px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif;
  letter-spacing: 2px;
  background-color: #85c513;
}
/* Twitter Section */
.twitter-section {
  float: left;
  margin: 0;
  width: 100%;
}
.twitter-section header {
  height: 30px;
  background-color: #848589;
}
.twitter-section header aside {
  float: left;
}
.twitter-section header aside h2 {
  text-align: left;
  padding: 7px 0;
  width: 210px;
}
.twitter-section header aside.callout {
  float: right;
}
.twitter-section header aside.callout span {
  background-color: #646465;
  height: 100%;
  color: #fff;
  padding: 10px 5px;
  letter-spacing: normal;
  font-size: 10px;
  text-shadow: 0 0 0;
}
.twitter-section span.icon {
  display: block;
  float: left;
  height: 17px;
  width: 21px;
  margin: 5px 5px 0 5px;
  background: url(../images/twitter_m.png) no-repeat;
}
.twitter-section h2 {
  letter-spacing: 1px;
  padding-top: 3px;
}
.twitter-section li img {
  padding: 10px 0 10px 10px;
}
.twitter-section li a {
  color: #8ec754;
  text-decoration: none;
}
.twitter-section li a:hover {
  color: #2B9646;
}
.twitter-section li a p {
  font: 13px/18px 'Segoe Regular', Arial, "MS Trebuchet", sans-serif;
  color: #848589;
}
.twitter-section li p.name {
  margin-top: 4px;
  font: 13px/20px 'Segoe Bold', Arial, "MS Trebuchet", sans-serif;
  color: #5C5C5C;
}
.twitter-section li:last-child {
  border-bottom: none;
}
.ui-icon {
  display: none;
}
.videolist li {
  padding: 25px 0 0 10px;
}
.video-section {
  float: left;
  margin: 0;
  width: 100%;
}
.video-section header {
  height: 30px;
  background-color: #848589;
}
.video-section header aside span.icon {
  display: block;
  float: left;
  height: 17px;
  width: 21px;
  margin: 5px 5px 0 5px;
  background: url(../images/video_m.png) no-repeat;
}
.video-section header aside h2 {
  padding: 7px 0;
  text-align: left;
}
.footer p.copyright {
  font-size: 9px;
  text-align: center;
  padding: 3px 0;
}
